target/
nbactions*.xml
nb-configuration.xml
*.gz
*.tar
/zmjet2/nbproject/private/
/OracleJETApplication/nbproject/private/
/zmjet/nbproject/private/
/zmjet_old/bower_components/
/zmjet_old/nbproject/private/
*.yml
*.yaml
*.properties
/admin/nbproject/private/
/zmjet2/bower_components/
/zmjet2/node_modules/