<div class="oj-hybrid-padding">
    <h3 data-bind="text: oj.Translations.getTranslatedString('Monitors')">Monitors</h3>
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-sm-12 oj-flex-item oj-panel">
            <table id="table" summary="Monitor List" aria-label="Monitors Table"
                   data-bind="ojComponent: {component: 'ojTable', data: pagingDatasource, columnsDefault: {sortable: 'enabled'},
                            columns: [
                                      {headerText: oj.Translations.getTranslatedString('Name'),
                                       field: 'name', style: 'width: 45%'},
                                      {headerText: oj.Translations.getTranslatedString('Type'),
                                       field: 'type', style: 'width: 25%'},
                                       {headerText: oj.Translations.getTranslatedString('Function'),
                                        field: 'function', style: 'width: 25%'},
                                       {headerText: oj.Translations.getTranslatedString('Enabled'),
                                        field: 'enabled', style: 'width: 5%'}
                                     ],
                            rootAttributes: {'style':'width: 100%;'}}">
            </table>
            <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl', data: pagingDatasource, pageSize: 10}"></div>
        </div>
    </div>
</div>
